.body {
    background-color: rgba(127, 149, 228, 0.8);
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

#sidebar-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 10;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(152, 170, 233, 1);
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    transform: scale(1.2);
}

#hr {
    margin-left: 10px;
    background-color: white;
    width: 90%;
}

#username {
    margin-left: 20px;
    font-size: 20px;
    color: white;
}

#smallmonth {
    position: relative;
    width: 30%;
    height: 44.9%;
    margin-left: 3%;
}

#showapp {
    position: relative;
    background: white;
    width: 60%;
    height: 85%;
    margin-left: 37%;
    margin-top: -20.3%;
    padding: 2%;
}

#addapp {
    position: relative;
    width: 30%;
    height: 35.5%;
    margin-top: -17%;
    margin-left: 3%;
    padding: 2%;
}

.title {
    width: 100%;
    text-align: center;
    color: white;
    background-color: tomato;
    margin-bottom: 10px;
}

.calendar {
    position: absolute;
    width: 95%;
    color: #fcff1a;
    text-align: center;
    font-size: 12px;
    margin-left: 9%;
}

div.date,
div.days {
    width: 12%;
    float: left;
    margin: 1px;
}

div.days {
    margin-bottom: 10px;
}

div.date {
    height: 5vh;
}


/* unvisited link */

a:link {
    color: #fcff1a;
}


/* visited link */

a:visited {
    color: #fcff1a;
}


/* mouse over link */

a:hover {
    color: #fcff1a;
}


/* selected link */

a:active {
    color: #fcff1a;
}

#showday {
    width: 100%;
    height: 15%;
    margin-bottom: 1%;
}

#titletask {
    width: 100%;
    height: 8%;
    background-color: rgb(44, 222, 198);
    margin-bottom: 1%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#appoint {
    width: 100%;
    height: 75%;
    background-color: rgb(208, 237, 235);
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#day-box {
    height: 100%;
    width: 25%;
    background-color: tomato;
    display: flex;
    align-items: center;
    padding: 1%;
}

#day {
    color: white;
    font-weight: bold;
    font-size: 2em;
    margin-left: 5px;
}

#day-name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: tomato;
    width: 58%;
    height: 90%;
    background-color: white;
    margin-left: 15%;
    font-size: 1.5em;
}

.backicon {
    top: 5%;
    position: absolute;
    color: rgb(255, 229, 149);
    left: 6%;
    cursor: pointer;
}

.backicon:hover {
    transform: scale(1.2);
}

.nexticon:hover {
    transform: scale(1.2);
}

.nexticon {
    position: absolute;
    color: rgb(255, 229, 149);
    top: 5%;
    right: 7%;
    cursor: pointer;
}

.appbox{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 40%;
    border-radius: 5px;
    background-color: white;
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.bin{
    float: right;
    cursor:pointer;
}

.bin:hover{
    color:red;
}