.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  #sidebar-wrapper{
      position: absolute;
      background-color: rgba(0,0,0,0.3);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: none;
      z-index: 10;
  }
  
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(152,170,233,1);
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
      transform:scale(1.2);
  }
  
  #hr{
      margin-left: 10px;
      background-color : white;
      width: 90%;
  }
  
  #username{
      margin-left: 20px;
      font-size: 20px;
      color: white;
  }
  
      .calendar{ 
          position: absolute;
          top: 30%;
          left: 19.5%;
          bottom: 5%;
          width: 65%;
          color: rgb(255,229,149);
          text-align: center;
      } 
      div.date, div.days{ 
          width: 13%; 
          float: left; 
          margin: 1px; 
      } 
      div.days{
          margin-bottom: 10px;
      }
      div.date{ 
          height: 10vh; 
      } 
      .today{ 
          background-color: rgb(237,130,130);
      }
      .body{
          background-color: rgba(127,149,228,0.8);
          font-family: "Comic Sans MS", cursive, sans-serif;
      }
      .monthname{
          font-size: 4.5em;
          font-weight: bold;
          color: rgb(255,229,149);
          margin-top: -3%;
      }
      .month{
          position : absolute;
          font-size: 2em;
          color: rgb(255,229,149);
          bottom : 5%;
          left: 7%;
      }
      .year{
          position : absolute;
          font-size: 2em;
          color: rgb(255,229,149);
          bottom : 5%;
          right: 6%;
      }
      .backicon{
          top: 5%;
          position: absolute;
          color: rgb(255,229,149);
          left: 6%;
          cursor:pointer;
      }
      .backicon:hover{
          transform:scale(1.2);
      }
      .nexticon:hover{
          transform:scale(1.2);
      }
      .nexticon{
          position: absolute;
          color: rgb(255,229,149);
          top: 5%;
          right: 7%;
          cursor:pointer;
      }
      .today-btn{
          font-size: 10px;
          color: #ffe595;
          border: 2px solid #ffe595;
      }
      .today-btn:hover{
          background-color: #ffe595;
          border: 2px solid #ffe595;
      }
      .logout-btn{
          font-size:15px;
      }
      #appointment-date{
          color: white;
          margin-top: -25px;
          margin-left: 25px;
          font-weight: bold;
          font-size: 18px;
      }
